---
import Layout from "../layouts/Layout.astro";
import Noodle from "../components/Noodle.astro";

// Removed static generation to enable dynamic SSR routing
export const prerender = false;
export const revalidate = 60;

const id = Number(Astro.params.noodle);
---

<head>
    <meta charset="UTF-8" />
    <title>Noodle {id}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<Layout>
    <Noodle id={id} server:defer>
        <div
            slot="fallback"
            class="flex items-center justify-center min-h-screen bg-gray-100 absolute top-0 left-0 w-full h-full"
        >
            <div
                class="w-10 h-10 border-4 border-t-blue-500 border-gray-300 rounded-full animate-spin"
            >
            </div>
        </div>
    </Noodle>
</Layout>
