---
import Layout from "../layouts/Layout.astro";
import type { Noodle } from "../components/Noodles.astro";

// Removed static generation to enable dynamic SSR routing
export const prerender = false;
export const revalidate = 60;

const id = Number(Astro.params.noodle);
---

<head>
    <meta charset="UTF-8" />
    <title>Noodle {id}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<Layout>
    <Noodle id={id} server:defer>
        <div slot="fallback">Loading...</div>
    </Noodle>
</Layout>
