---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="min-h-screen bg-gray-100 flex flex-col items-center py-8">
        <div id="menu">
            <a href="/raterPage">
                <button class="btn btn-primary mb-4">Volver Atr치s</button>
            </a>
            <a href="/">
                <button class="btn btn-secondary mb-4">Volver a la P치gina Principal</button>
            </a>
        </div>
        <div class="flex flex-col items-center gap-4 min-h-screen">
            <input type="text" name="name" placeholder="Nombre del Noodle" class="input input-bordered w-full max-w-xs mb-4 bg-gray-300 text-black " required />
            <input type="file" class="file-input bg-gray-300 text-black" />
            <textarea name="description" placeholder="Descripci칩n del Noodle" class="textarea textarea-bordered w-full max-w-xs mb-4 bg-gray-300 text-black" required></textarea>
            
            <div class="rating rating-lg rating-half mb-4 text-black text-xl" id="rating">
                Puntuaci칩n:
                <input type="radio" name="rating" class="rating-hidden" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-1 bg-orange-500" />
                <input type="radio" name="rating" class="mask mask-star-2 mask-half-2 bg-orange-500" />
            
        </div>
            <button class="btn btn-primary mb-4">Agregar Noodle</button>
    </main>
</Layout>

