---
import Carousel from "./Carousel";
---

<div
    class="home-page flex flex-col items-center justify-center min-h-screen bg-gray-100 gap-7"
>
    <h1 class="text-4xl text-black">Welcome to Noodles Rater</h1>
    <p class="text-black">This is a great app for rate Noodles.</p>
    <a href="/raterPage"><button class="btn btn-primary">Start!</button></a>
</div>
